/*****************************************
*                                        *
*                GLOBAL                  *
*                                        *
******************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #232a37;
    color: white;
    line-height: 1.6;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: bold;
}

p {
    overflow-wrap: break-word;
}

main {
    padding: 1rem;
    justify-content: center;
    display: flex;
}

/*****************************************
*                                        *
*                UTILITY                 *
*                                        *
******************************************/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
    align-items: center;
}

.justify-end{
    justify-content: end;
}

.left-margin{
    margin-left: 6rem;
}

/*****************************************
*                                        *
*            HORIZONTAL NAVBAR           *
*                                        *
******************************************/

.horizontal-navbar {

    ul{
        list-style-type: none;
        margin-left: 2.5rem;
        overflow: hidden;
        background-color: #1d232e;
        display: flex;
        justify-content: center;
    }

    li{
        float: right;
    }

    a{
        display: block;
        color: lightgray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a:hover{
        color:hotpink;
    }

    .active{
        color: hotpink;
        border-bottom: 6px solid hotpink;
        font-weight: bold;
    }
}

/*****************************************
*                                        *
*                HERO                    *
*                                        *
******************************************/

.hero {

    h1 {
        font-size: 10rem;
        font-weight: bold;
        background: linear-gradient(180deg, hotpink, yellow);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke: 0.5rem transparent;
        -webkit-text-fill-color: #232a37;
        padding: 1rem 6rem 1rem 0;
        line-height: 10rem;
    }

    h2 {
        padding-top: 2rem;
    }

    h3 {
        padding-top: 2rem;
        width: 650px;
        text-wrap: balance;
    }

    img {
        width: 500px;
        height: auto;
        border-radius: 2px;
        background: linear-gradient(135deg, hotpink, yellow);
        padding: 8px;
        object-fit: cover;
    }
}

/*****************************************
*                                        *
*                HERO BUTTONS            *
*                                        *
******************************************/

.button-container {

    display: flex;
    gap: 2rem;
    padding-top: 3rem;
    justify-content: left;
}

.custom-button-1 {

    display: inline-block;
    text-align: center;
    padding: 1rem 4rem 1rem 4rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid yellow;
    border-radius: 2px;
    background-color: #232a37;
    color: white;

}

.custom-button-1:hover {
    background: linear-gradient(45deg, hotpink, yellow);
}

.custom-button-2 {

    display: inline-block;
    text-align: center;
    padding: 1rem 4rem 1rem 4rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid yellow;
    border-radius: 2px;
    background-color: yellow;
    color: #232a37;

}

.custom-button-2:hover {
    background: linear-gradient(45deg, hotpink, yellow);
}

/*****************************************
*                                        *
*            VERTICAL NAVBAR             *
*                                        *
******************************************/

.site-layout {
    display: flex;
    position: fixed; top: 0; left: 0; width: 2.5rem; height: 100vh;
}

.vertical-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: hotpink;
    width: 2.5rem;
    padding: 6px;
    gap: 1rem;
}

.nav-imgs {
    width: 25px;
}
